*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: #dadada;
}
#center{
    position: absolute;
    left: 18%;
    top:50%;
    transform: translate(0%, -50%);
    height: 80%;
    width: 67%;
    /* background-color: red; */
}

.imageContainer{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 0%;
    /* background-color: yellow; */
}

img{
    height: 100%;
    object-fit: cover;
}

#one{
    width: 0%;
}
.text{
    position: absolute;
    bottom: 15%;
    left: -10%;
    height: 80px;
    width: 374px;
    z-index: 999;
    overflow: hidden;
}
.text h1{
    top: 100px;
    position: absolute;
    font-size: 6vw;
    color: white;
}